# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/
backend/venv/

# Django
db.sqlite3
backend/db.sqlite3
staticfiles/
media/

# Environment files
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
